<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit my-particles" id="banner">
  <div class="container">
    <div class="row">
      <div class='col-lg-6 col-lg-offset-3'>
        <center><img src="assets/images/Conexuns-WebsiteLogo-550x400-AllWhite.png" class="img-responsive"></center>
      </div>
    </div>
    <div class="row">
      <div class='col-lg-12'>
        <h1>Ideas to Reality</h1>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <a href="/login" class="btn btn-outline-inverse btn-lg">Join Us</a>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12"></div>
    </div>
  </div>

</header>

<section class=" red-background">
  <div class="container a-margins">
    <div class="row">
          
          <div class="col-sm-4 homewidget">
            
            <span><i class="glyphicon glyphicon-bullhorn"></i></span>
            <h3> Pitches</h3>
            <p> Share an amazing idea. </p>
          </div>  
          
          <div class="col-sm-4 homewidget">
            <span><i class="glyphicon glyphicon-comment"></i></span>
            <h3>  Join the Community</h3>
            <p> Sign up now. </p>
          </div>  
          
          <div class="col-sm-4 homewidget">
            <span><i class="glyphicon glyphicon-link"></i></span>
            <h3> Geniuses</h3>
            <p> Connect with the experts. </p>
          </div>  
          
        </div>
  </div>
</section>



<!-- <div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Ideas:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div> -->

<!--   <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
    </p>
  </form>
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
 -->